:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bg-mobile.png) no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: column;
}

.blue-bg {
    background-color: var(--dark-blue);
}

.actions {
    margin-bottom: 15px;
    padding: 35px;
    border-radius: 10px 90px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    width: 120px;
}

.grid-icons {
    margin-top: 25px;
    display: grid;
    justify-items: center;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.img-container{
    padding: 10px;
    border-radius: 20%;
    width: 25px;
    height: 25px;
    background: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.storage-usage {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
}

.container-bar {
    width: 250px;
    background: var(--very-dark-blue);
    border-radius: 25px;
    padding: 2px;
}

.gradient {
    width: 81.5%;
    height: 15px;
    border-radius: 25px;
    padding-right: 5px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.bold-txt {
    font-weight: 700
}

.progress-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.balon {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: -200px;
    padding: 15px 20px;
    position: relative;
    align-self: center;
    color: var(--very-dark-blue);
    gap: 10px;
}

.gray-text {
    color: var(--grayish-blue);
    font-size: 12px;
    text-transform: uppercase;
}

@media (min-width: 1200px){
    body {
        background: url(./images/bg-desktop.png) var(--very-dark-blue) no-repeat bottom;
        background-size: 100vw;
    }

    main {
        flex-direction: row;
    }

    .logo {
        width: 140px;
    }

    .img-container{
        width: 30px;
        height: 30px;
    }

    .actions {
        padding: 40px;
        margin-bottom: 0px;
        margin-right: 25px;
        width: 240px;
    }

    .storage-usage {
        justify-content: center;
        align-items: flex-start;
        max-height: 100px;
        align-self: flex-end;
        padding: 30px;
    }

    .container-bar {
        width: 500px;
    }

    .progress-label {
        margin-bottom: 0px;
    }

    .balon {
        border-radius: 10px 10px 0px 10px;
        margin-left: 350px;
        margin-right: -500px;
        margin-top: -106.5px;
        margin-bottom: 40px;
    }

    .balon::after {

        content: "";
    
        width: 0;
        height: 0;
    
        position: absolute;
    
        border-left: 20px solid transparent;
    
        border-top: 20px solid #fff;
    
        bottom: -20px;
        left: 136.109px;
    }

}